* {
  box-sizing: border-box;
}
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24x;
  background-color: #ffffff;
  letter-spacing: 1px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0b0b0b;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #aa7f6d;
}

.center-left {
  padding-left: 150px;
}

.center-right {
  padding-right: 150px;
  float: right;
}

#SubmitSearch {
  padding: 10px;
  background: rgb(15, 239, 255);
  color: white;
  min-width: 50px;
  text-align: center;
  height: 33;
  padding-top: 15px;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 35px;
  padding-left: 168px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.search-field {
  border-left: 1px solid rgb(31, 5, 5);
}

.header-logo img {
  max-width: 100%;
}

.HeaderImg {
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 100px;
}

.cart-logo {
  float: right;
  padding-right: 200px;
  padding-top: 20px;
}

#spinner {
  padding: 0 10px;
}

.nikegirl {
  opacity: 1;
  object-position: 50% 50%;
  width: 90%;
  height: 50%;
  object-fit: cover;
  transition: opacity 1s ease 0.3s;
  max-width: 100%;
  margin-left: 70px;
}

.Free #service-content {
  margin-left: 140px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 24px 15px;
  box-sizing: border-box;
  -webkit-transition: all 300ms ease;
  border: 1px solid #000;
  text-align: center;
  display: inline-block;
}

#service-content a {
  text-decoration: none;
}

.service-title {
  color: #444444;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

.firstImage {
  width: 100%;
  height: 470px;
}

.row {
  margin-left: 70px;
  margin-right: 60px;
}

.row h2 {
  margin-left: 5px;
}

#globalFooter {
  padding-top: 75px;
  padding-bottom: 65px;
  background-color: #000000;
  color: #fff;
}

.global {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

footer#globalFooter {
  margin-left: 5px;
  /* right: 10px; */
  width: 1210px;
}

#globalFooter p {
  font-size: 14px;
  line-height: 1.86;
}

.global p {
  font: 300 22px/1.82 'sofia-pro', sans-serif;
}

.global .inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.spaced {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

#globalFooter .social-links {
  text-align: right;
}

#globalFooter .col {
  width: 50%;
}

.col {
  position: relative;
}

#globalFooter .legal {
  opacity: 4;
  margin-top: 30px;
}

#globalFooter a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.legal {
  color: #cfc7c7;
}

.legal p {
  padding-left: 71px;
}

#links ul {
  width: 287px;
  margin-left: 230px;
}
